include ./_spinner
.modal-header
    h3.modal-title Change password
.modal-body
    form(ng-submit='ctrl.onFormSubmit()', name='passwordForm', novalidate='')
      .form-group(ng-class="{'has-error':ctrl.hasError('passwordForm','old_password')}")
        input#old_password.form-control(type='password', name='old_password', ng-model='ctrl.passwordData.old_password', placeholder='Old password', required='')
        span.help-block
          span(ng-show="ctrl.hasError('passwordForm', 'old_password', 'required')") Field is required
      .form-group(ng-class="{'has-error':ctrl.hasError('passwordForm','new_password')}")
        input#new_password.form-control(type='password', name='new_password', ng-model='ctrl.passwordData.new_password', required='', placeholder="New Password")
        span.help-block
          span(ng-show="ctrl.hasError('passwordForm', 'new_password', 'required')") Field is required
      .form-group(ng-class="{'has-error':ctrl.hasError('passwordForm','confirm_password')}")
        input#email.form-control(type='password', name='confirm_password', ng-model='ctrl.passwordData.confirm_password', placeholder='Confirm New Password', required='', match="ctrl.passwordData.new_password")
        span.help-block
          span(ng-show="ctrl.hasError('passwordForm', 'confirm_password', 'required')") Field is required
          span(ng-show="ctrl.hasError('passwordForm', 'confirm_password', 'match')") Passwords don't match
      div.row
        .col-xs-6
            button.btn.btn-grey.full-width(type="reset", ng-click="ctrl.close()") Cancel
        .col-xs-6
            button.btn.btn-pink.full-width(type='submit', ng-disabled='inProgress') Save

