/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-down-arrow {
  background-image: url(/images/sprite.png);
  background-position: 0px -52px;
  width: 22px;
  height: 13px;
}
.icon-edit-icon {
  background-image: url(/images/sprite.png);
  background-position: -51px 0px;
  width: 21px;
  height: 21px;
}
.icon-header-icon-facebook {
  background-image: url(/images/sprite.png);
  background-position: 0px -31px;
  width: 21px;
  height: 21px;
}
.icon-header-icon-instagram {
  background-image: url(/images/sprite.png);
  background-position: -21px -31px;
  width: 21px;
  height: 21px;
}
.icon-header-icon-twitter {
  background-image: url(/images/sprite.png);
  background-position: -42px -31px;
  width: 21px;
  height: 21px;
}
.icon-preview-icon {
  background-image: url(/images/sprite.png);
  background-position: 0px 0px;
  width: 51px;
  height: 31px;
}
.icon-top-arrow {
  background-image: url(/images/sprite.png);
  background-position: -22px -52px;
  width: 22px;
  height: 13px;
}
