
@font-face {
  font-family: 'AvenirNext-Regular';
  src: url('AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),  url('AvenirNext-Regular.woff') format('woff'), url('AvenirNext-Regular.ttf')  format('truetype'), url('AvenirNext-Regular.svg#AvenirNext-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
