.capital
  text-transform uppercase  
.hidden
    display none
.bold
    font-weight bold
.italic
  font-style italic    
.justify
    text-align justify
.centered
    text-align center  
.align-left
  text-align left     
.align-right
  text-align right     
.margin-bottom-big
  margin-bottom 80px

.margin-bottom-med
  margin-bottom 50px

.margin-bottom
  margin-bottom 30px

.margin-bottom-small
  margin-bottom 35px
  
.margin-bottom-very-small
  margin-bottom 15px  
  
.margin-top-very-small
  margin-top 15px  
.margin-top-small
  margin-top 35px  

.margin-top-med
  margin-top 50px  
.margin-top-big
  margin-top 80px    
.full-width
  width 100%  
.hand, .pointer
  cursor pointer  

.inline
  display inline-block!important  

.visible-block
  display block  
  
.half-display
  width 49%
  float left
  & + .half-display
    margin-left 2%!important

.one-third-display
  width 33%!important 
  float left!important 
  
  & + .one-third-display
    margin-left 5px!important 
  
  
  
.clip-circle
    border-radius(180px)
    background-clip(padding-box)
    margin: 7px 0 0 5px
    background-size cover
    background-position center center
    object-fit cover


.cursor-off 
  cursor default     

.clear 
    clear both
    font-size 1px
    line-height 1px
    display block
    height 0
    

.grayscale 
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
         
  

            
    