/* ------------------------------------------ */
/* CONSTANTS */
/* ------------------------------------------ */

/* ------------ RESOLUTIONS --------------- */
$screen-xs = 480px
$screen-sm = 768px
$screen-md = 992px
$screen-lg = 1200px


$navbar-height= 80px
$navbar-mobile-height= 60px

$result-img-height=250px;
$normal-font-family=AvenirNext-Regular,sans-serif
$medium-font-family=AvenirNext-Medium
$bold-font-family=AvenirNext-DemiBold
$light-font-family=AvenirNext-UltraLight


$grey-border-color=#efefef