.btn-pink, .btn-grey
	background-color $pink-btn
	color #fff
	border-radius(0)
	padding 10px 50px
	font-family $normal-font-family
	font-size 16px
	&.arrowed
		> span
			&:after
				content ">"
				padding-left 30px
	&.small
		padding 5px 20px			
	
				
							
	&:hover
		color #fff
		background-color darken($pink-btn, 10%)	
.btn
	&:active,&:focus
		outline none
		outline-offset 0 		
.btn.active.focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn:active:focus,.btn:focus
	outline none!important
	outline-offset 0
.btn-grey
	background-color #979797
.btn + .btn
	margin-left 20px
@media only screen and (max-width: $screen-xs)		
	.btn-pink
		padding 10px 30px	