.modal-dialog 
	.modal-content
		border-radius(0)
		box-shadow(0 0 13px -6px rgb(0, 0, 0))
		padding 20px
	.modal-header
		border 0
		padding 0
	.modal-title
		font-size 36px	
		color #000
		line-height 35px
		text-align center
		font-family $normal-font-family
.modal-open
	.pac-container
				z-index 2000 		