.page-header
    width 100%
    margin 0
    display table
    background url('../images/header_bg.png') no-repeat center top
    position relative
    height 181px
    background-size cover
    .page-title
        font-size 55px
        color #fff
        font-family $light-font-family
        width 100%
        text-align center
        display table-cell
        vertical-align middle
 & + .container
     margin-top 20px        