.ui-select-multiple
	&.ui-select-bootstrap
		padding-top 14px
		padding-bottom 14px
		padding-left 10px
		.ui-select-match-item
			border-radius(0)
		.ui-select-match-item
			font-size 16px
				
.ui-select-placeholder
		padding 14px 10px
		



.nya-bs-select
	&.half-display
		width 49%!important
		float left!important


	