.facebook-page-selection-modal
	.page-item
		padding-top 10px
		padding-bottom 10px
		display table
		width 100%
		.col
			display table-cell
			vertical-align middle
			&:first-child
				width 75%
				
		& + .page-item
			border-top 1px solid $grey-border