.home-page
    font-size 18px  
    span + a
        margin-left 5px
 
    .section-name
        font-size 28px
        
    .gallery-item + .gallery-item
        border-top 1px solid $grey-border-color   
        padding-top 40px
        margin-top 40px
    .galleries-section
        margin-top 40px
        border-top 1px solid $grey-border-color
        border-bottom 1px solid $grey-border-color
        padding 40px 0
        
        .gallery-stats
            text-align center
            .stats-number
                font-size 64px
                color $pink
            .stats-label
                font-size 18px
                color #b6b6b6
        .actions
            .social-logins
                margin-bottom 10px
                .social-login
                    &:not(:first-child)
                        margin-left 10px
            .btn-pink
                padding-left 10px
                padding-right 10px
                display block
                text-align center
            .preview-btn
                text-align center
                font-size 12px
                display block 
                margin-bottom 10px
                span
                    display block     